:root {
	--header-height: 3em;
	--footer-height: 2em;
	--color-background-main: #D8D8D8;
	--color-background-graph: white;
	--color-background-header: rgb(255, 200, 0);
	--color-text-header: rgba(0, 0, 0, 0.87);
	--color-background-warn: rgb(18, 130, 178);
  --color-text-warn: white;
}

body {
	background: var(--color-background-main);
	font-family: Poppins, "Gill Sans", system-ui, sans-serif;
}

#header {
	position: fixed;
	height: var(--header-height);
	width: 100%;
	top:0;
	left:0;
	background-color: var(--color-background-header);
	color: var(--color-text-header);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;

	display: flex;
  flex-direction: column;
  justify-content: center;
}

.hf {
	margin: .25em;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: baseline;
	width: 100%;
}

h1 {
	font-family: Poppins-Bold, Poppins, "Gill Sans", system-ui, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}

#content {
	margin-top: var(--header-height);
	margin-bottom: var(--footer-height);
	padding: 1em .25em;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

#graph {
	min-height: 255px;
	max-height: calc(100vh - var(--header-height) - var(--header-height) - 2em);
	min-width: 1000px;
	border-radius: 5px;
	flex: 2;
	background: var(--color-background-graph);

}

@media (max-width: 1000px) {
	#graph {
		min-width: 100%;
		width: 100%;
	}
}

#stats {
	width: 20em;
	flex-grow: 1;
}

.debugging {
	background: var(--color-background-warn);
	color: var(--color-text-warn);
	padding: .25em;
}

#footer {
	position: fixed;
	height: var(--footer-height);
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: var(--color-background-warn);
	color: var(--color-text-warn);
}
